<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>DocShareWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>servlets.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/servlets/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlets/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlets/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RepositoryDocuments</servlet-name>
    <servlet-class>servlets.RepositoryDocuments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepositoryDocuments</servlet-name>
    <url-pattern>/servlets/RepositoryDocuments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DocumentController</servlet-name>
    <servlet-class>servlets.DocumentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentController</servlet-name>
    <url-pattern>/servlets/DocumentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EliminaC</servlet-name>
    <servlet-class>servlets.EliminaC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaC</servlet-name>
    <url-pattern>/servlets/EliminaC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EliminaP</servlet-name>
    <servlet-class>servlets.EliminaP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaP</servlet-name>
    <url-pattern>/servlets/EliminaP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DocumentController2</servlet-name>
    <servlet-class>servlets.DocumentController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentController2</servlet-name>
    <url-pattern>/servlets/DocumentController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EliminaCondivisione</servlet-name>
    <servlet-class>servlets.EliminaCondivisione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaCondivisione</servlet-name>
    <url-pattern>/servlets/EliminaCondivisione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreaCondivisione</servlet-name>
    <servlet-class>servlets.CreaCondivisione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaCondivisione</servlet-name>
    <url-pattern>/servlets/CreaCondivisione</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         C:\Users\Fabio\Desktop\Università\IGES\REPOSITORY
      </param-value>
  </context-param>
</web-app>